In [ ]:
# Question 1
a=[]
for i in range(2000,3000):
    if i%7==0 and i%5!=0:
        a.append(i)
print(a)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996]

In [ ]:
# Question 2

fact=1
a=int(input("Input the number: "))
print("Then, factorial of the given number is:")
for i in range(1,a+1):
    fact = fact * i
print(fact)

Input the number: 8
Then, factorial of the given number is:
40320

In [ ]:
#Question 3
dict={}
a=int(input("Input the number: "))
for i in range(1,a+1):
    dict[i] = i*i

print('The output is: ')
print(dict)

Input the number: 9
 The output is:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
#Question 4

x = str(input("Input Value: "))
a = tuple(x for x in x.split(","))

print('The output is: ')
print(a)

Input Value: 100,100,100
The output is:
('100', '100', '100')

In [ ]:
# Question 5

class Letter:
    def __init__(self):
        self.l = ""

    
    def getstring(self):    
        self.l = input()
        
    def uppercase(self):    
        a = self.l.upper()
        print(a)
L = Letter()
print('Input string: ')
L.getstring()
print('Output required: ')
L.uppercase()

Input string:
kjkj
Output required:
KJKJ

In [ ]:
#Question 6
import math
x = str(input("Input Value: "))
a = map(int,list(x for x in x.split(",")))

c=[]
for i in a:
    c.append(int(math.sqrt((2*50*i)/30)))
print('The output is: ')
print(','.join(str(x) for x in c))

Input Value: 100,100,100
The output is:
18,18,18

In [ ]:
# Question 7

x = str(input("Input Value: "))
a = list(map(int,list(x for x in x.split(","))))
if len(a) == 2:
    s = [[0 for i in range(a[1])] for j in range(a[0])]
    for i in range(0,a[0]):
        for j in range(0,a[1]):
            s[i][j]=j*i
    print('Output is:')
    print(s)
else:
    print('Wrong input')

Input Value: 3,5
Output is:
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [ ]:
#Question 8

x = str(input("Input Value: "))
a = list(x for x in x.split(","))
a.sort()
print('The output is: ')
print(','.join(str(x) for x in a))

Input Value: dog,ser,asee
The output is:
asee,dog,ser

In [ ]:
#Question 9

x = str(input("Input Value: "))
print('The output is: ')
print(x.upper())

Input Value: the name is shailendran
The output is:
THE NAME IS SHAILENDRAN

In [ ]:
# Question 10
x = str(input("Input Value: "))
a = list(x for x in x.split(" "))
s=[]
for i in a:
    if i not in s:
        s.append(i)
print('The output is: ')
s.sort()
print(' '.join(str(x) for x in s))

Input Value: the the name is is is
The output is:
is name the

In [ ]:
# Question 25

class print_class:
    input = "coding"
    def __init__(self, input = None):
        self.input = input

print("Class Parameter:")
tough = print_class("is tough")
print(print_class.input, tough.input)


print("Instance Parameter:")
easy = print_class()
easy.input = "is easy"
print(print_class.input, easy.input)

Class Parameter
coding is tough
Instance Parameter
coding is easy

In [ ]:
#Question 35 and 36

def dic():
    dict={}
    a= 20
    for i in range(1,a+1):
        dict[i] = i**2
    for j in dict.keys():
        print(j)
dic()

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
# Question 37

def square():
    l=[]
    a= 20
    for i in range(1,a+1):
        l.append(i**2)
    return l
square()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# Question 43

l=[*range(1,11)]
tup=()
for i in l:
    if i%2==0:
        tup=(*tup,i)
print('The output is: ')
print(tup)

(2, 4, 6, 8, 10)

In [ ]:
# Question 51

class American(object):
    pass
#subclass
class NewYorker(American):
    pass

AM = American()
NY = NewYorker()
print(AM)
print(NY)

<__main__.American object at 0x7fa96a5a62d0>
<__main__.NewYorker object at 0x7fa9624ef750>

In [ ]:
#Question 53

class Rectangle(object):
    def __init__(self, l, w):
        self.length = l
        self.width  = w

    def area(self):
        a = self.length*self.width
        return a

x = input('Length: ')
y = input('width: ')
custom_rect = Rectangle(int(x),int(y))
print('The area of the rectangle is')
print(custom_rect.area())

Length: 2
width: 3
The area of the rectangle is
6

In [ ]:
# Question 54

class Shape(object):
    def __init__(self):
        pass
    def area(self):
        return 0
class Square(Shape):
    def __init__(self, l):
        self.length = l
    def area(self):
        a = self.length*self.length
        return a

custom_square= Square(int(input()))
print('The area of the rectangle is')
print(custom_square.area())

9
The area of the rectangle is
81

In [ ]:
# Question 56

def function():
    return 5/0

try:
    function()
except ZeroDivisionError:
    print("division by zero!")

division by zero!

In [ ]:
#Question 94

l = [12,24,35,24,88,120,155,88,120,155]
print('The output is: ')
print(set(l))

{35, 12, 155, 24, 88, 120}